body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    border: 1px solid #ddd;
}

.banner {
width: 100%;
height: auto;
margin-bottom: 20px;
border-radius: 8px 8px 0 0;
}

h1,h2 {
    color: #333;
}

button{
    background-color: #007bff;
    color:white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}


